body {
  background-color: rgb(244, 208, 78);
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
}

.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ffffff;
  height: 522px;
  width: 384px;
  border-radius: 18px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 73px;
  padding: 0.75rem 1.5rem;
  background-color: rgb(244, 208, 78);
  border-radius: 4px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.text-4 {
  font-size: 12px;
  font-weight: normal;
  color: rgb(17, 17, 17);
}
.text-3 {
  font-weight: 800;
  color: rgb(17, 17, 17);
}
.text-2 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(107, 107, 107);
}
.text-1 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(17, 17, 17);
  cursor: pointer;
}
.text-1:hover {
  color: rgb(244, 208, 78);
}

@media (max-width: 600px) {
  .card {
    height: 501px;
    width: 327px;
  }
  .text-2 {
    font-size: 14px;
  }
}
