:root {
  --background-color: rgb(244, 208, 78);
  --card-background: #ffffff;
  --text-color-primary: rgb(17, 17, 17);
  --text-color-secondary: rgb(107, 107, 107);
  --highlight-color: rgba(0, 0, 0, 1);
  --hover-color: rgb(244, 208, 78);
}

#root,
#__next {
  isolation: isolate;
}
* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  padding: 1rem;
  background-color: var(--background-color);
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--card-background);
  max-height: 522px;
  max-width: 384px;
  border-radius: 18px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 0 var(--highlight-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 26px;
  max-width: 73px;
  padding: 0.75rem 1.5rem;
  background-color: var(--background-color);
  border-radius: 4px;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
}

.text-4 {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--text-color-primary);
}
.text-3 {
  font-weight: 800;
  color: var(--text-color-primary);
}
.text-2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color-secondary);
}
.text-1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color-primary);
  cursor: pointer;
}
.text-1:hover {
  color: var(--hover-color);
}

@media (max-width: 600px) {
  .card {
    max-height: 501px;
    max-width: 327px;
  }
  .category {
    max-height: 21px;
    max-width: 82px;
  }
  .text-2 {
    font-size: 0.875rem;
  }
}
